.App {
  text-align: center;
}

.todo {
  text-align: left;
  max-width: 200px;
  margin: auto;
}
.todo > ul {
  text-align: left;
  padding: 0;
}
.todo > ul > li {
  margin: 2px;
}
.todo > ul > li > div {
  display: inline-block;
  border: 1px solid lightgrey;
  width: 100%;
}
.todo > ul > li > div > span {
  margin:3px;
}
.todo > ul > li > div > div {
  border-left: 1px solid lightgrey;
  float: right;
  cursor: pointer;
  font-weight: bold;
  padding: 0 3px;
}
